@model KnikkerShop.Models.ProductDetailViewModel

@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grootte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grootte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kleur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kleur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Voorraad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Voorraad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        @Html.ActionLink("Voeg toe aan winkelwagen", "AddWinkelwagen", "Winkelwagen", new { id = @Model.Id })
    </dl>
</div>
<div>
    <a asp-action="Index">Terug naar winkel</a>
</div>